@use "global" as *;

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $white;
    height: rem(80);
    @include mq(md){
        height: rem(90);
    }
}

.header__inner{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 rem(15);
    @include mq(md){
        padding:  0 rem(20);
    }
}

.header__logo {
    position: relative;/* z-indexをきかせるため */
    z-index: 9999;
    font-weight: $bold;
    @include mq(md){
        font-size: rem(16);
    }
}